@model GymTonic.DataBase.Table.Esercizi

@{
    ViewData["Title"] = "Inserisci";
}

<div class="card shadow">
    <div class="card-header">
        <h6 class="card-title ">Inserisci</h6>
    </div>
    <div class="card-body">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="NomeEsercizio" class="control-label"></label>
                <input asp-for="NomeEsercizio" class="form-control" />
                <span asp-validation-for="NomeEsercizio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descrizione" class="control-label"></label>
                <input asp-for="Descrizione" class="form-control" />
                <span asp-validation-for="Descrizione" class="text-danger"></span>
            </div>
            <div class="form-check">
                <label asp-for="IsRiscaldamento" class="control-label"></label>
                <input type="checkbox" asp-for="IsRiscaldamento"/>
                <span asp-validation-for="IsRiscaldamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn btn-success">Torna alla lista esercizi</a>
        </div>
    </div>
</div>

