@model GymTonic.DataBase.Table.Utenti

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> listaOrari = (List<SelectListItem>)ViewData["listaOrari"];
    List<SelectListItem> listaSesso = (List<SelectListItem>)ViewData["Sesso"];
}

<div class="card shadow">
    <div class="card-header">
        <h6 class="card-title ">Inserisci</h6>
    </div>
    <div class="card-body">


        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DataInserimento" />
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cognome" class="control-label"></label>
                <input asp-for="Cognome" class="form-control" />
                <span asp-validation-for="Cognome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascita" class="control-label"></label>
                <input type="date" value="@Model.DataNascita.ToString("yyyy-MM-dd")" asp-for="DataNascita" class="form-control" />
                <span asp-validation-for="DataNascita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sesso" class="control-label"></label>
                @Html.DropDownListFor(model => model.Sesso, listaSesso, new { data_placeholder = "seleziona un Orario", @class = "form-control " })
                <span asp-validation-for="Sesso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdOrari" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdOrari, listaOrari, new { data_placeholder = "seleziona un Orario", @class = "form-control " })
                <span asp-validation-for="IdOrari" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Residenza" class="control-label"></label>
                <input asp-for="Residenza" class="form-control" />
                <span asp-validation-for="Residenza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>



        <div>
            <a asp-action="Index" class="btn btn-success">Torna alla lista utenti</a>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
